.cat-service-img:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: var(--cat-primary-color);
  width: 130px;
  margin: auto;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  animation: morphing 3s infinite;
  height: 130px;
  opacity: 0.06;
}
.bgImage {
  background-image: url("../../assets/image/Banner/banner-2.jpg");
  background-size: cover;

}
.bgImage:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: rgb(35 66 69);
  opacity: 0.9;
}
.transition-style1{
  transition: 0.7s;
}
.transition-style2{
  transition: 4s;
}

.body-card { 
  overflow: hidden;
}
.body-card h2, h4{
  transform: translateY(30px);
  transition: 1s;
}

.details {
  transform: translateY(40px);
  opacity: 0;
  transition: 1s;
}
.serviceCard img:hover {
  transition: 1s;
}
.serviceCard:hover img{
    --tw-brightness: brightness(.5);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.serviceCard:hover .details {
  opacity: 1;
  transform: translateY(-30px);
  transition: 1s;
}
.serviceCard:hover .body-card > h2 {
  transform: translateY(-40px);
  transition: 1s;
}
.serviceCard:hover .body-card > h4 {
  transform: translateY(-40px);
  transition: 1s;
  
}
.body-card button:hover {
  background-color: #213547;
  color: white;
  transition: 0.7s;
}
@media (min-width:1023px) and (max-width:1200px) {
    .serviceCard{
      /* width: 100%; */
      height: 25rem !important
    }
}
