.menu-show {
    margin-top: 10px;
    transition: 1s;
}
.menu-show li{
    padding-bottom: 5px;
}
.menu-show li:hover {
    width: 100%;
    background-color: white !important;
    color: black;
    padding-left: 7px;
    transition: 0.7s;
    border-radius: 20px;
}

.menu-item ul{
    background-color: #213547;
    color: black;
}

.menu-hide{
    height: 100vh;
    padding: 4px 0;
    transition: 1s;
}
