.img-gradient:after {
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:inline-block;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5) 0%,rgba(21, 21, 21, 0.1) 100%);
    
}